.jumbotron.masthead
  .container
    %h1 Survivor Pool
    %p Pick 'em and stick 'em
    
    %p= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-large btn-inverse"

    %ul.unstyled
      %li
        %small
          No Facebook?
          = link_to "Create an account", new_user_registration_path
      %li
        %small
          Already have an account?
          = link_to "Sign in", new_user_session_path

.container
  .marketing
    %h1 Create a pool
    %p Be awesome and create a pool

    %hr.soften

    %h1 Join a pool
    %p Or be really cool and join a pool

    %hr.soften

    %h1 Make picks
    %p Pick some winners

    %hr.soften

    %h1 Profit!
    %p Cheddah