/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootswatch/superhero/variables";

 @import "bootstrap";

 @import "bootstrap-responsive";

 @import "bootswatch/superhero/bootswatch";

body {
  padding-top: 40px;
}

p.lead {
  font-size: 28px;
  margin-top: -5px;
  font-style: italic;
}

h1.promo {
  font-size: 104px;
  margin: 40px 0px;
}

.btn-huge {
  padding: 24px 32px;
  margin: 15px 0px;
  font-size: 32px;
  line-height: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.btn-huge, .btn-huge:hover {
  -webkit-box-shadow: -4px 4px 0 #124A5B;
  -moz-box-shadow: -4px 4px 0 #124A5B;
  box-shadow: -4px 4px 0 #124A5B;
}