/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 @import "bootstrap-responsive";

body {
  padding-top: 60px;
}

p.promo-lead {
  font-size: 28px;
  margin-top: -5px;
  font-style: italic;
}

h1.promo {
  font-size: 96px;
  margin: 40px 0px;
}

h1.headline {
  font-size: 64px;
  margin: 36px 0px;
}

/*.navbar .brand {
  font-size: 32px;
}*/

.btn-huge {
  padding: 24px 32px;
  margin: 15px 0px;
  font-size: 32px;
  line-height: normal;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

span.score {
  font-size: 16px;
  padding-left: 40px;
}

span.pick-label {
  margin: 0 2px 0 2px;
}

/*#error_explanation {
  padding: 14px 35px 14px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fadfdd;
  color: #df382c;
  border: 1px solid #f8d0d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#error_explanation h2 {
  font-size: 14px;
  color: inherit;
}

#error_explanation > ul {
  margin-bottom: 0;
}*/

/*.btn-huge, .btn-huge:hover {
  -webkit-box-shadow: -4px 4px 0 #124A5B;
  -moz-box-shadow: -4px 4px 0 #124A5B;
  box-shadow: -4px 4px 0 #124A5B;
}*/